.Employee
{
    font-family: treubuchet ms;
    font-size: 25px;
    width: 250px;    
    padding: 20px;
    margin:20px;
    border:solid 1px lightgray;
    box-shadow: 0 5px 2px darkgray;
    display:inline-block;
}